.container {
    border: 1px solid var(--border-color--line-darker);
    background-color: var(--base-color-neutral--neutral-darker);
    color: white;
}

/* Month name should be centered */
.calendar > .header .month-name {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #fff;
  text-align: center;
  font-family: "SF UI Text";
  font-size: 14px;
  font-style: normal;
  line-height: normal;

}